body, html {
    overflow-x: hidden !important;
    }

*{
  transition: 0.3s linear ;
  outline: none;
  margin: 0px;
  padding: 0px;
}
main{
    width: 100vw;
}
body{
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 130px;
}

.dropdown-item:active{
    background-color: #fff;
    color: #000;
}
.dropdown-btn:active{
    background-color: #fff;
    color: #000;
}

.search{
    outline: none;
    max-width: 500px;
    width: 100%;
}
.form-search{
    max-width: 400px;
    width: 100%;
}
.icone{
    width: 25px;
}
#star-1{
    top: 100px;
    right: 20px;
    animation: star infinite 2.6s linear;
}
#star-2{
    top: 190px;
    left: 0px;
    width: 60px;
    animation: star infinite 3s linear;

}


@keyframes star{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}


.title{
    font-weight: 900;
}

h1{
    font-size: 64px;
    letter-spacing: -4px;
}
.accordion{
    width: 50%;
}
@media (max-width: 1200px) {
    h1{
        font-size: 50px;
        letter-spacing: -4px;
    } 
    .tab-item{
        font-size: 12px;
    }
    .accordion{
        width: 100%;
    }
}

h2{
    font-size: 45px;
    letter-spacing: -1px;

}

/* .menu-item{
    border-bottom: 2px solid #fff;
    transition: all 0.3s;
}

.menu-item:hover{
    border-bottom: 2px solid #000;
} */

.banner{
    background-color: #f2f0f1;
    padding-top: 100px;
}

.casal{
  max-height: 500px;
}

#casual{
    background-image: url(./assets/fundos/casual.png);
}
#formal{
    background-image: url(./assets/fundos/formal.png);
}
#festa{
    background-image: url(./assets/fundos/festa.png);
}
#fit{
    background-image: url(./assets/fundos/fit.png);
}

.cartao{
    height: 200px;
    background-size: cover;
    background-position: center;
}

input{
    outline: none;
}

footer{
    background-color: #F0F0F0;
    margin-top: 50px;
}

.newslatter{
    position: relative;
    top: -70px;
}

.breadcrumb{
    font-size: 12px;
}

.img{
    height: 140px;
    border: none;
    background-position: center;
    background-size: cover;
}

.principal-image{
    background-position: center;
    background-size: cover;
    min-height: 300px;
}

.color{
    width: 35px;
    height: 35px;
}

.btn-group label{
    background-color: #F0F0F0;
    border: 0;
}

.quantidade{
    background-color: #F0F0F0;
}

.quantidade button{
    background-color: transparent;
    border: 0;
}

.card{
    height: 100%;
}

.accordion-button:not(.collapsed){
    background-color: #000;
    color: #fff;
    outline: none;
    z-index: 0;
}